*{
    margin: 0;
    padding: 0;
}
.container{
  margin-top: 88px;
}
.is-size-3 {
    font-size: 2.25rem !important;
    margin-left: 522px;
}

.is-rounded{
    margin-left: 10px;
    margin-top: -69px;
}
.ml-10{
    margin-left: 100px;
}
#ml-12{
    margin-left: 117px;
}
#ml-13{
    margin-right: 89px;
}
#about{
    margin-left: 9rem !important;
}


.twitter-btn{
    margin-left: 150px;
}



.image.is-4by3 {
    padding-top: 43% !important;
}
.ml-2 {
    margin-left: 8.5rem !important;
}


.columns.is-mobile>.column.is-three-fifths {
    flex: none;
    width: 44%;
}
.is-three-fifths{
    display: flex;
    margin-left: 1rem;
}


.margin_top{
        margin-top: -2.75rem !important;
}
.m-20{
    margin-left: 268px;
}


#ml-13 {
    margin-right: 79px;
    margin-left: -144px;
}
.p-6{
    background-image: url('./bg-twitterfake.png');
}
/*dark*/
.main {
    font-size: 35px;
    margin-left: 34px;
    cursor: pointer;
    transform: translate(-50%, -50%);
}
/*end dark*/
.live{
    margin-top: -37px;
    margin-left: -39px ;
}



#Tweet{
    color: black;
    background-color: white;
}

#totalTweet{
    color: black;
    margin-left: 10px;
    background-color: white;
}
#Born{
    color: black;
}

#following1{
    color: black;
}
#followers1{
    color: black;
}
#wifi{
    color: black;
}
#signal{
    color: black;
}
#signal2 {
    color: black;
}
#battery{
    color: black;
}
#battery1{
    color: black;
}

#ellipsis{
    color: black;
}
#percent{
    color: black;
}
#time{
    color: black;
}
#time2{
    color: black;
}

#changeImage3{
    background: #1da1f2;
    
}
#mobileTime{
    color: black;
}
#battery2{
    color: black;
}

/*#rounded{
    width: 142px;
        height: 142px;
        border: 4px solid #fff;
}*/




.is-rounded{
    border-radius: 100%;
}
.twitter-profile-pic {
    display: inline-block;
        position: relative;
        top: -19px;
        margin-bottom: -40px;
        margin-left: 9px;
}

.twitter-profile-pic img {
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

#Profile-button{
    margin-top: -31px !important;
    margin-bottom: -32px;
}

/*.twitter-header-icon {
    position: absolute;
    width: 100%;
    padding: 12px;
    display: block;
}*/

/*.main-twitter-profile .twitter-header-icon .left-icon,
.main-twitter-profile .twitter-header-icon .right-dots {
    width: 28px;
    height: 28px;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
 .main-twitter-profile .twitter-header-icon .right-dots {
     width: 28px;
     height: 28px;
     background: rgba(0, 0, 0, .5);
     text-align: center;
     border-radius: 50%;
     display: inline-block;
     position: relative;
 }*/

 .twitter-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #1da1f2;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 66px;
    right: 11px;
    box-shadow: 0px 2px 6px 0 rgb(0 0 0 / 30%);
    z-index: 10;
    
 }

 #Note{
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    margin-left: 100px;
    margin-right: 77px;
 }
/*start twitter header icon start*/
 .twitter-header-icon {
    position: absolute;
    width: 100%;
    padding: 12px;
    display: block;
}
  .twitter-header-icon .right-dots a {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 5px;
     height: 5px;
     border: 1px solid #fff;
     border-radius: 50%;
     display: block;
    position: absolute;
    z-index: 2;
 }

 .left-icon {
     width: 28px;
     height: 28px;
     background: rgba(0, 0, 0, .5);
     text-align: center;
     border-radius: 50%;
     display: inline-block;
     position: relative;
     
    position: absolute;  
    z-index: 2;
 }

 .right-dots {
    margin-left: 269px;
     width: 28px;
     height: 28px;
     background: rgba(0, 0, 0, .5);
     text-align: center;
     border-radius: 50%;
     display: inline-block;
     position: relative;
    position: absolute;
        z-index: 2;
        
        color: white;
 }
 .main-twitter-profile .twitter-header-icon .right-dots {
     float: right;
 }

   .right-dots span:nth-child(1) {
      top: 20%;
      transform: translate(-50%, -20%);
  }
  .dots{
     margin: 7px 0px 0px 8px;
  }

/*end twitter header icon*/

#ellipsis-h{
    margin-top: -31px !important;
        margin-bottom: -32px;
    width: 35px;
    height: 35px;
    color: #fff;
    background-color: rgb(117, 113, 113);
    text-align: center;
    /*margin-left: 0px;
        width: 28px;
        height: 28px;
        text-align: center;
        border-radius: 50% solid red;
        display: inline-block;
        position: relative;
        position: absolute;*/
        
}
#ellipsis-h2 {
    color: #fff;
    margin-left: 8px;
    margin-top: -31px !important;
        margin-bottom: -32px;
    text-align: center;
    background-color: rgb(117, 113, 113);
    width: 35px;
        height: 35px;
        
   /* margin-left: 0px;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 50% solid red;
    display: inline-block;
    position: relative;
    position: absolute;*/

}
/*#profileButtonIcon{
    margin-left: 394px;
}*/
#checkIcon{
    margin-left: -16px;
    background-color: #fff;
}
#threeIcon{
   margin-top: 9px;
}
#wellIcon{
    margin-top: 9px;
}


