

/*.is-fullwidth:hover {
    background-color: #ffbf00;
    
}
.is-fullwidth:active {
    background-color: #ffbf00;
}*/
.container{
  margin-top: 88px;
}
.is-size-3 {
    font-size: 2.25rem !important;
    margin-left: 522px;
}

.is-rounded{
    margin-left: 10px;
    margin-top: -69px;
}
.ml-10{
    margin-left: 100px;
}
#ml-12{
    margin-left: 117px;
}
#ml-13{
    margin-right: 89px;
}


.twitter-btn{
    margin-left: 140px;
}



.image.is-4by3 {
    padding-top: 43% !important;
}
.ml-2 {
    margin-left: 8.5rem !important;
}


.columns.is-mobile>.column.is-three-fifths {
    flex: none;
    width: 44%;
}
.is-three-fifths{
    display: flex;
    margin-left: 1rem;
}


.margin_top{
        margin-top: -2.75rem !important;
}
.m-20{
    margin-left: 268px;
}

/* .mt-5 {
    margin-top: 1.5rem !important;
    margin-left: 38px !important;
    margin-right: 45px !important;
} */

#ml-13 {
    margin-right: 79px;
    margin-left: -144px;
}
.p-6{
    background-image: url('./bg-twitterfake.png');
}
/*dark*/
.main {
    font-size: 50px;
    cursor: pointer;
    /*position: absolute;*/
    transform: translate(-50%, -50%);
}
/*end dark*/

@media screen and (max-width: 768px) {
    .columns.is-mobile {
        display:  none;
    }
}

/*dark icon */
 